<tr class=\"odd\">
	<td class=\"\">
		<div class=\"action-notes-v2 \" data-recordid=\"598202133\" data-request-key=\"df07bd2169a846cc94e32619a3188bc3\">
			<div class=\"notes-no-v2\">&nbsp;</div>
		</div>
	</td>
	<td class=\"\">
		<div class=\"action-tags-v2 \" data-recordid=\"598202133\" data-request-key=\"df07bd2169a846cc94e32619a3188bc3\">
			<div class=\"tags-no-v2\">&nbsp;</div>
		</div>
	</td>
	<td class=\"\">
		<div title=\"\" class=\"bought-indicator \" data-recordid=\"598202133\" data-request-key=\"df07bd2169a846cc94e32619a3188bc3\">&nbsp;</div>
	</td>
	<td class=\"\">
		<div class=\"lead-status-icon action-show-lead-status-selector\" data-recordid=\"598202133\" data-request-key=\"df07bd2169a846cc94e32619a3188bc3\" data-lead-status-id=\"0\" data-lead-status-desc=\"No Status\">
			<span class=\"lead-status-content\">&nbsp;</span>
		</div>
	</td>
	<td class=\"\">
		<div class=\"BusinessName\">
			<a href=\"#\" class=\"detailLink action-detail-setup\" gat-action=\"View Detail\" data-recordid=\"598202133\" data-record-id=\"598202133\" data-record-index=\"58\">Cheski's Plumbing &amp; Heating</a>
		</div>\n
	</td>
	<td class=\"\">
		<div class=\"executive-name-field\" data-record-id=\"598202133\" data-record-index=\"58\"> </div>
	</td>
	<td class=\"\"></td>
	<td class=\"\">
		<div data-is-wireless=\"true\" data-phone=\"(907) 344-3380\" class=\"\">(907) 344-3380</div>
	</td>
	<td class=\"\"></td>
	<td class=\"\">Anchorage</td>
	<td class=\"\">AK</td>
	<td class=\"\">99515</td>
	<td class=\"\">
		<div class=\"corpTree\"></div>
	</td>
	<td class=\"\">
		<div class=\"\">
			<a href=\"#\" class=\"\">
				<div onclick=\"window.DisplayVerifiedRecordHelp();&quot;&quot;\" class=\"verifieddetail\"></div>
			</a>
			<div class=\"\"></div>
		</div>
	</td>
</tr>