<tr class=\"odd currently-selected-record-highlight\">
	<td class=\"currently-selected-record-highlight\">
		<div class=\"BusinessName\">
			<a href=\"#\" class=\"detailLink action-detail-setup currently-selected-record\" gat-action=\"View Detail\" data-recordid=\"620163311\" data-record-id=\"620163311\" data-record-index=\"0\">A Duie Pyle Inc</a>
		</div>\n
	</td>
	<td class=\"currently-selected-record-highlight\">
		<div class=\"executive-name-field\" data-record-id=\"620163311\" data-record-index=\"0\">Mike Crowley</div>
	</td>
	<td class=\"currently-selected-record-highlight\">Cio/Cto</td>
	<td class=\"currently-selected-record-highlight\">
		<div data-is-wireless=\"false\" data-phone=\"(610) 696-5800\" class=\"\">
			<span class=\"\">(610) 696-5800</span>
		</div>
	</td>
	<td class=\"currently-selected-record-highlight\">650 Westtown Rd</td>
	<td class=\"currently-selected-record-highlight\">West Chester</td>
	<td class=\"currently-selected-record-highlight\">PA</td>
	<td class=\"currently-selected-record-highlight\">19382</td>
	<td class=\"currently-selected-record-highlight\">
		<div class=\"\">
			<a href=\"#\" class=\"\">
				<div onclick=\"window.DisplayVerifiedRecordHelp();&quot;&quot;\" class=\"verifieddetail\"></div>
			</a>
			<div class=\"\"></div>
		</div>
	</td>
	<td class=\"currently-selected-record-highlight\">Trucking</td>
	<td class=\"currently-selected-record-highlight\">421304</td>
</tr>