<tr class=\"even\">
	<td class=\"\">
		<div class=\"action-notes-v2 \" data-recordid=\"877832261\" data-request-key=\"df07bd2169a846cc94e32619a3188bc3\">
			<div class=\"notes-no-v2\">&nbsp;</div>
		</div>
	</td>
	<td class=\"\">
		<div class=\"action-tags-v2 \" data-recordid=\"877832261\" data-request-key=\"df07bd2169a846cc94e32619a3188bc3\">
			<div class=\"tags-no-v2\">&nbsp;</div>
		</div>
	</td>
	<td class=\"\">
		<div title=\"\" class=\"bought-indicator \" data-recordid=\"877832261\" data-request-key=\"df07bd2169a846cc94e32619a3188bc3\">&nbsp;</div>
	</td>
	<td class=\"\">
		<div class=\"lead-status-icon action-show-lead-status-selector\" data-recordid=\"877832261\" data-request-key=\"df07bd2169a846cc94e32619a3188bc3\" data-lead-status-id=\"0\" data-lead-status-desc=\"No Status\">
			<span class=\"lead-status-content\">&nbsp;</span>
		</div>
	</td>
	<td class=\"\">
		<div class=\"BusinessName\">
			<a href=\"#\" class=\"detailLink action-detail-setup\" gat-action=\"View Detail\" data-recordid=\"877832261\" data-record-id=\"877832261\" data-record-index=\"43\">Barrow Mechanical</a>
		</div>\n
	</td>
	<td class=\"\">
		<div class=\"executive-name-field\" data-record-id=\"877832261\" data-record-index=\"43\">Robert Alred</div>
	</td>
	<td class=\"\">Vice President</td>
	<td class=\"\">
		<div data-is-wireless=\"false\" data-phone=\"(907) 852-4000\" class=\"\">
			<span class=\"\">(907) 852-4000</span>
		</div>
	</td>
	<td class=\"\">255 Pisokak St</td>
	<td class=\"\">Barrow</td>
	<td class=\"\">AK</td>
	<td class=\"\">99723</td>
	<td class=\"\">
		<div class=\"corpTree\"></div>
	</td>
	<td class=\"\">
		<div class=\"\">
			<a href=\"#\" class=\"\">
				<div onclick=\"window.DisplayVerifiedRecordHelp();&quot;&quot;\" class=\"verifieddetail\"></div>
			</a>
			<div class=\"\"></div>
		</div>
	</td>
</tr>